

.navBar{
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;

  background-color: #0093E9;
  background-image: linear-gradient(22deg, #0093E9 0%, #80D0C7 99%);
}
.logo{
  height: 80%;
  align-self: center;
  cursor: pointer;
}

.menu{
  list-style: none;
  display: flex;
  position: relative;


}

.menu__opciones{
  margin: 0px 30px;
  height: 30px;
  align-self: center;
  border: none;
  background: rgba( 255, 255, 255, 0.3 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  cursor: pointer;
  
}

